services:
  piman:
    build: .
    container_name: piman
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    volumes:
      - /volume2/docker/piman/data:/app/data
      - /volume2/docker/piman/logs:/app/server/logs
    environment:
      - NODE_ENV=production
      - PORT=3001
      - DB_PATH=/app/data/database.sqlite
      - ENCRYPTION_KEY=xPsLo3eHe8sRg9gD9Y47LrRgbt94CgPVbk5D40vBJPMgFshpO7t6dEX0ob6047gC
    restart: unless-stopped

volumes:
  piman_data:
    driver: local
  piman_logs:
    driver: local
